<!DOCTYPE html>
<html lang="en">
    <style>
        body {background-color: rgb(255, 255, 255);}
        h1   {color: rgb(0, 0, 0);}
        p    {color: rgb(0, 0, 0);}
        .header {padding: 40px;
                text-align: center;
                background: #64ffe0;
                font-size: 28px;}
        .questions {padding: 20px;
                text-align: center;
                background: #ffffff;
                font-size: 16px;}
        </style>
<div class="header">
    <h1>Volunteer GPS</h1>
    <p>Results for Alzheimer's:</p></div>
<head>
</head>
<body>
    {% for Print in Path %}
    <table>
    <tr>
        <td>Locations(In Order): {{Print}}<br></td>
    </tr>
    <tr>
        <td>Potential Volunteers(In Order): {{VEC}}<br></td>
    </tr>
    {% endfor %}
    <tr>
        <td>Total Distance: {{dist}}<br></td>
    </tr>
</table>
<img src="{{url_for('static',filename='map.jpg')}}">
</body>
</html>